# Ignore Terraform state files
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Ignore crash logs
crash.log

# Ignore Terraform CLI configuration files
.terraformrc
terraform.rc

# Ignore entire Terraform directories
.terraform/
terraform.tfstate.d/

# Ignore Terraform plan files
*.tfplan

# Ignore variable definition files (optional, if sensitive)
*.tfvars
*.tfvars.json

# Local override files (optional)
override.tf
override.tf.json
*_override.tf
*_override.tf.json
